tgcrypto<=1.2.3
aiohttp
python-dotenv<=0.20.0
motor
aiofiles
dnspython
apscheduler
requests
psutil
pyromod
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.2
pyrogram
python-dotenv<=0.20.0
TgCrypto<=1.2.5
pyrofork==2.2.10
